.nav-link {
    font-size: 1.74rem;
    color: var(--white-cl);
    font-family: 'Raleway', sans-serif;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: var(--md-font-size);
    text-transform: uppercase;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: var(--white-cl);
}

.bg-cover {
    background-size: cover;
}

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.toggle-btn {
    display: none;
    --icon-width: 30px;
    --icon-height: 30px;
    width: var(--icon-width);
    height: var(--icon-height);
    transition-duration: 0.5s;
    cursor: pointer;

    z-index: 5000001;
}

.burger-icon {
    --bar-height: 4px;
    position: relative;
    width: var(--icon-width);
    height: var(--bar-height);
    left: 0px;
    top: calc(var(--icon-height) / 2);
    background-color: var(--white-cl);
}

.burger-icon::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;

    transition-duration: 0.5s;
    width: var(--icon-width);
    height: var(--bar-height);
    background-color: var(--white-cl);
}

.burger-icon::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    transition-duration: 0.5s;
    width: var(--icon-width);
    height: var(--bar-height);
    background-color: var(--white-cl);
}

#nav__toggle {
    display: none;
}

#nav__toggle:checked~nav {
    visibility: visible;
    left: 0;
}

#nav__toggle:checked~.toggle-btn .burger-icon {
    transition-duration: 0.5s;
    background: transparent;
}

#nav__toggle:checked~.toggle-btn .burger-icon::before {
    transform: rotateZ(45deg) scaleX(1.25) translate(6px, 6px);
}

#nav__toggle:checked~.toggle-btn .burger-icon::after {
    transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}

.arrow-icon {
    width: 48px;
    height: 48px;
}

.arrow-icon__circle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 310;
    stroke-dashoffset: 310;
}

.arrow-icon:hover .arrow-icon__circle {
    stroke-dashoffset: 0;
}

.tooltip__container {
    position: relative;
    display: inline-block;
}

.tooltip__container .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    top: 150%;
    left: 0%;
    z-index: 1;
}

.tooltip__container:hover .tooltip {
    visibility: visible;
}

@media screen and (max-width: 767px) {
    .toggle-btn {
        display: block;
    }
}