.nav-link {
    font-size: 1.74rem;
    color: var(--white-cl);
    font-family: 'Raleway', sans-serif;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-size: var(--md-font-size);
    text-transform: uppercase;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: var(--white-cl);
}

.bg-cover {
    background-size: cover;
}

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}