header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 160px;
    z-index: 5000000;
    
    transition: 0.25s;
}

header.fixed {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.25s;
}

header .container {
    padding-left: var(--body-margin-left);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: absolute;
    top: 50px;
    right: 50px;
    transition: 0.25s;
}

.logo.fixed {
    position: fixed;
    transform: rotateZ(-90deg) translate(calc(25% + 50px), -50px);
    transition: 0.25s;
    z-index: 5000001;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

header nav a {
    position: relative;
    font-family: "Raleway";
    color: var(--white-cl);
    font-size: 1.3rem;

    text-transform: uppercase;
    text-decoration: none;
}

header nav a:hover::after {
    content: "";

    position: absolute;
    bottom: -14px;
    left: 0;

    width: 100%;
    height: 2px;
    background-color: var(--orange-cl);
    font-size: 13px;
}

@media screen and (max-width: 1279px) {
    header .container {
        padding-left: var(--body-padding);
    }

    .logo.fixed {
        transform: rotateZ(-90deg) translate(calc(25% + 50px), calc(0px - var(--body-padding)));
    }
}
@media screen and (max-width: 767px) {
    header {
        height: 100px;
    }

    header nav{
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        transition: 0.25s;
      
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
      
        margin: 0;
        padding: 0px var(--body-padding);

        background-color: var(--black-cl);

        z-index: 5000000;
    }
    header nav ul{
        flex-flow: column;
        align-items: center;
    }

    header nav a{
        font-size: var(--md-font-size);
    }

    header nav a:hover::after {
        bottom: -5px;
    }

    header .container {
        padding-left: var(--body-padding);
    }
}

@media screen and (max-width: 481px) {
    header {
        height: 80px;
    }

    header nav ul {
        gap: 40px;
    }

    header nav a{
        font-size: 3rem;
    }
}